@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1c1022;
}
.text-game-color,.game-focous-color{
  color:#d6ae51
}
.button-game-color{
  background-color:#d6ae51
}
.button-game-color-input{
  background-color:#d6ae5177
}
.button-game-color:hover{
  background-color:#b4883a
}
input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide arrows in Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }